@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

body {
    @apply text-gray-800;
    background-color: #F1F4F8;
}

.section-header {
    @apply text-2xl;
}

.menu-item.active > a, .menu-item.active > span {
    @apply bg-slate-200 !important;
}

.box {
    @apply bg-white rounded-2xl p-10;
}

.box-title {
    @apply text-2xl font-bold;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
