
:root {
    color-scheme: light;
    --background-color: white;
    --text-color: #030303;
    --extremadura-start: #00e164;
    --extremadura-end: #00AF43;
    --extremadura-text: #0e0e0e;

    --hercules-start: #352ea2;
    --hercules-end: #656398;
    --hercules-text: #fff;

    --amdda-start: #9015A1;
    --amdda-end: #4e0c59;
    --amdda-text: #fff;

    --eibar-start: #0071B9;
    --eibar-end: #02598f;
    --eibar-text: #fff;

    --tenerife-start: #17369d;
    --tenerife-end: #173ebe;
    --tenerife-text: #fff;

    --segunda_parte-start: #dedede;
    --segunda_parte-end: #fff;
    --segunda_parte-text: #8F6CAB;

    --disport-start: #FEEA2B;
    --disport-end: #d3c21c;
    --disport-text: #000;
    --primary-50:  245 248 249;
    --primary-100: 222 241 249;
    --primary-200: 183 226 242;
    --primary-300: 131 195 223;
    --primary-400: 75 159 198;
    --primary-500: 55 125 172;
    --primary-600: 46 99 145;
    --primary-700: 38 74 112;
    --primary-800: 27 50 79;
    --primary-900: 16 30 51;
    --primary-950: 21, 27, 41;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #080C1F;
        --text-color: white;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
